{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'assets/css/auth.css' %}">
</head>
<body>
    
    <main class="auth">
        <div class="auth-left">
            <img src="{% static 'assets/img/ілім.png' %}" alt="">
            <div class="auth-circle"></div>
        </div>
        <div class="auth-right">
            <div class="auth-option">
                <a href="{% url 'login' %}" class="auth-login active">Kіру</a>
                <a href="{% url 'register' %}" class="auth-create">Тіркелу</a>
            </div>
            <form action="" method="post">
                <div class="auth-login__label">
                    {% csrf_token %}
                    {% for field in form %}
                        {{field}}
                    {% endfor %}
                    {% if messages %}
                        {% for message in messages|slice:":1" %}
                            <div class="alert alert-danger" role="alert" style="color: red;">
                                {{message}}
                            </div>
                        {% endfor %}
                    {% endif %}
                    <button class="auth-send" type="submit">Кіру</button>
                </div>
            </form>
            
        </div>
    </main>


    <script src="{% static 'assets/js/auth.js' %}"></script>
</body>
</html>