{% extends 'online_courses/main.html' %}
{% load static %}


{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'assets/css/messages.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/chat.css' %}">
</head>

        <div class="main-content">
            <div class="chat">
                <div class="chat-top">
                    <button onclick="history.back()">Артқа</button>
                    <p>{{ companion_user.first_name }} {{ companion_user.last_name }}</p>
                    {% if companion_user.user_icon %}
                        <img src="{{ companion_user.user_icon.url }}" alt=""> 
                    {% else %}
                        <img src="assets/icon/chat.svg" alt=""> 
                    {% endif %}
                </div>
                <div class="chat-area">

                    <div class="mesgs">
                        <div class="msg_history">
                          {% for message in messages %}
                            {% if message.current_user %}
                            <div class="outgoing_msg">
                                <div class="sent_msg">
                                <p>{{message.message_text}}</p>
                                <span class="time_date"> {{message.message_date}}</span> 
                                </div>
                            </div>
                            {% else  %}
                            <div class="incoming_msg">
                                <div class="received_msg">
                                <div class="received_withd_msg">
                                    <p>{{message.message_text}}</p>
                                <span class="time_date"> {{message.message_date}}</span> 
                                </div>
                                </div>
                            </div>
                            {% endif  %}
                          {% endfor  %}
                        </div>
                      </div>




                </div>
                <form action="" class="chat-form" method="post">
                    {% csrf_token %}
                    <label for="file">
                        <img src="{% static 'assets/icon/file.svg' %}" alt="">
                    </label>
                    <input id="file" type="file">
                    <input type="text" placeholder="Бірнәрсе жаз..." name="text" required>
                    <button type="submit">
                        <img src="{% static 'assets/icon/send.svg' %}" alt="">
                    </button>
                </form>
            </div>
        </div>
        {% endblock %}
      