{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'assets/css/second.css' %} ">
</head>
<body>
    <main class="main-content">
        <div class="main-sidebar">
            <div class="main-sidebar__top">
                <img src="{% static 'assets/img/sidebar-right.jpg' %}" alt="">
            </div>
            <div class="main-sidebar__area">
                <h3>Курс материалы</h3>
                <div class="main-sidebar__area-anh">
                    {% for theme in all_themes %}
                    <a href="{% url 'full_course' pk=course.pk  thempk=theme.pk %}"> > {{theme}}</a>
                    {% endfor %}
                </div>
                <div class="main-sidebar__area-anh2">
                    <a href="#">Ескертпелер</a>
                    <a href="{% url 'all_courses'%}">Курстарға кері қайту</a>
                </div>
            </div>
        </div>
        {% block content %}
        <div class="main-area">
            <div class="main-area__top">{{ course.title }}</div>
            <div class="main-area__item">
                <div class="main-area__item-top">
                    <div class="main-area__item-title">
                        <span class="main-rotate"> > </span>
                        <span> Тақырып {{ them }} </span>
                    </div>
                    <div class="main-area__item-progress">0%</div>
                </div>
                <div class="main-area__item-info">
                    <a href="{% url 'course_lection'  pk=course.pk thempk=them.pk %}">
                        <img src="{% static 'assets/icon/book.svg' %}" alt="">
                        <span>Лекция {{ them }}</span>
                    </a>
                    <a href="{% url 'course_video'  pk=course.pk thempk=them.pk %}">
                        <img src="{% static 'assets/icon/play.svg' %}" alt="">
                        <span>Видеолекция {{ them }}</span>
                    </a>
                    <a href="{% url 'course_test'  pk=course.pk thempk=them.pk %}">
                        <img src="{% static 'assets/icon/check-list.svg' %}" alt="">
                        <span>Тест {{ them }}</span>
                    </a>
                </div>
            </div>
            
           
        </div>
        {% endblock %}
    </main>
    <button class="open-left__sidebar"> > </button>

    <script src="{% static 'assets/js/mobile-second.js' %}"></script>
    <script src="{% static 'assets/js/course-read.js' %}"></script>
</body>
</html>