<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="assets/css/second.css">
    <link rel="stylesheet" href="assets/css/add-course.css">
</head>
<body>
    <main class="main-content">
        <div class="main-sidebar">
            <div class="main-sidebar__top">
                <img src="assets/img/sidebar-right.jpg" alt="">
            </div>
            <div class="main-sidebar__area">
                <h3>Курс материалы</h3>
                <div class="main-sidebar__area-anh">
                    <form class="main-sidebar-course-theme">
                        <span>
                            Бөлім 1
                        </span> 
                        <button>
                            <img src="assets/icon/musor-small.svg" alt="">
                        </button>
                    </form>
                    <a href="#"> + Жаңа бөлім қосу</a>
                    <a href="#"> + Ескертпелер</a>
                    <a href="#"> + Ресурстар</a>
                </div>
            </div>
        </div>
            <div class="main-area">
                <form action="">
                    <div class="main-area__top">
                        <h3>Название курса с бэка</h3>
                    </div>
                    <div class="main-theme-c-item">
                        <div class="main-theme-c-item__top">
                            <span>Тақырып 1</span>
                            <button><img src="assets/icon/musor.svg" alt=""></button>
                        </div>
                        <div class="main-theme-c-inp">
                            <h3>Тақырып 1</h3>
                            <p>Лекцияың аты:</p>
                            <input type="text" value="Тут с бэка заранее проставляешь уже добавленные такырып">
                            <p>Лекцияның мәтіні:</p>
                            <textarea name="" id="" cols="30" rows="10" >
                                Тут с бэка заранее проставляешь уже добавленные такырып
                            </textarea>
                            <p>Видеолекция</p>
                            <input type="file">
                        </div>
                    </div>
                    <div class="main-theme-c-item">
                        <div class="main-theme-c-item__top">
                            <span>Тақырып 1</span>
                            <button><img src="assets/icon/musor.svg" alt=""></button>
                        </div>
                        <div class="main-theme-c-inp">
                            <h3>Тақырып 1</h3>
                            <p>Лекцияың аты:</p>
                            <input type="text" value="Тут с бэка заранее проставляешь уже добавленные такырып">
                            <p>Лекцияның мәтіні:</p>
                            <textarea name="" id="" cols="30" rows="10" >
                                Тут с бэка заранее проставляешь уже добавленные такырып
                            </textarea>
                            <p>Видеолекция</p>
                            <input type="file">
                        </div>
                    </div>
                </form>
                <button class="save">save</button>
            </div>
    </main>
    <button class="open-left__sidebar"> > </button>

    <script src="assets/js/mobile-second.js"></script>
    <script src="assets/js/add-course.js"></script>
</body>
</html>